
.home-btn {
  display: inline-block;
  margin-top: 25px;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}

.home-btn:hover {
  color: #000;
  border-bottom: 1px solid #000;
}
